@model Pie

<div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <a asp-controller="pie" asp-action="Details" asp-route-ID="@Model.PieId">
                <img src="@Model.ImageThumbnailUrl" alt="@Model.Name">
            </a>
            <div class="caption">
                <h3 class="pull-right">@Model.Price.ToString("C")</h3>
                <h3 style="font-size: 18px">
                    <a asp-controller="pie" asp-action="Details" asp-route-ID="@Model.PieId">@Model.Name</a>
                </h3>
                <p>@Model.ShortDescription</p>
            </div>
            <div class="addToCart" >
                <p class="button" >
                    <a class="btn btn-primary"
                       asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart"
                       asp-route-pieId="@Model.PieId">Add to cart</a>
                </p>
            </div>
        </div>
    </div>